<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>タイトル</title>
</head>
<body>
	<form action="/signup"method="POST">
		<a>メールアドレス</a><input type="text" name="mail" placeholder="Eメール"><br>
		<a>パスワード</a><input type="passeord" name="password" placeholder="パスワード"><br>
		<a>パスワードの再確認</a><input type="passeord" name="password_confirmation" placeholder="パスワードの確認"><br>
		<input type="submit" value="新規登録">
	</form>


</body>
</html>
