<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>タイトル</title>
</head>
<body>
	<form action="/signin"method="POST">
		<input type="text" name="mail" placeholder="Eメール">
		<input type="passeord" name="password" placeholder="パスワード">
		<input type="submit" value="ログイン">
	</form>


</body>
</html>
